@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro:wght@700&display=swap');

.text-upper
{
    margin-left: -1em;
    font-size: 18.5px;
    color:#444444;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:590.3px;
    position: relative;
    margin-bottom: 2em;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 1em 1em;
    display: inline-block;
  }


  .grid-container
  {
    display: grid;
  height: 400px;
  
  grid-template-columns: auto auto;
  grid-gap: 35px;
  
  padding: 5px;
  
  }

img
{
    filter: brightness(30%); 
}


/*ribbon styling*/

.top-right {
    position: absolute;
    top: -5em;
    right: 3.7em;
  }

 
.ribbon{
    margin: 3em;
    background-color: #68a7ff;
    width: 2.5em;
    height: 10em;
    position: relative;
    border-top-right-radius: .2em;
    border-top-left-radius: .2em;
    margin: auto;
    font-family: 'Kite One', sans-serif;
    z-index: 999;
    transform: rotate(90deg);
  }
  
  .ribbon:before{
    content: "";
    position: absolute;
    bottom: -2.4em;
    left: 0;
    width: 0;
      height: 0;
      border-top: 2.5em solid #68a7ff;
      border-right: 2.5em solid transparent;
      z-index: 999;
  }
  .ribbon:after{
    content: "";
    position: absolute;
    bottom: -2.4em;
    right: 0;
    width: 0;
      height: 0;
      border-top: 2.5em solid #68a7ff;
      border-left: 2.5em solid transparent;
      z-index: 999;
  }

  .ribbon>span{

    transform: rotate(45deg)!important;
  }
  

  .style-bgimg
{
  width:100%;
}
  /*rating block*/

  .top-right-corner {
    position: absolute;
    top: 1.2em;
    right: 0.7em;
    z-index: 99;
  }
  .rating
  {
      
      background-color: #f5a626;
      
      text-align: center;
      color: white;
      width: 75px;
      height: 55px;
      border-radius: 3.8px;
      font-family: 'Roboto Condensed', sans-serif;
  }

  .rating-block
  {
      margin-bottom: -0.5em;
  }

  .rating-block-span
  {
      color: white;
      font-weight: 700;
      font-size: 18px;
      
  }

  .review
  {
      font-size: 14px;
  }

  .bottom-left
  {
    z-index: 99;
    position: absolute;
    bottom: 11.1em;
    left: 1em;
    font-family: 'Roboto', sans-serif;
  }

  .bottom-left-span1
  {
    width: 135px;
    height: 34px;
    border-radius: 16.5px;
    background-color: #ffffff;
    font-size: 13.5px;
    color: #444444;
    padding: 0.7em;
    margin-right: 0.4em;

  }

  .bottom-left-span2
  {
    width: 135px;
    height: 34px;
    border-radius: 16.5px;
    background-color: #ffffff;
    font-size: 13.5px;
    color: #444444;
    padding: 0.7em;
  }

  .bottom-right {
    position: absolute;
    bottom: 11.1em;
    right: 1em;
    z-index: 99;
  }

  .bottom-right-span1
  {
    
    font-size: 13.5px;
    color: #ffffff;
    margin-right: 0.4em;
    line-height: 18px;

  }

  .first-address
  {
    display: inline-flex;
  }
  .college-name
  {
      color:#444444;
      
      font-size: 16px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      margin-right: 1em;
      margin-top: 0.2em;
  }

  /*styling stars*/

  @import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

fieldset, label { margin: 0; padding: 0; }




/****** Style Star Rating Widget *****/

.ratings { 
  border: none;
  
}

.ratings > input { display: none; } 
.ratings > label:before { 
  margin: 5px;
  
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.ratings > .half:before { 
  content: "\f089";
  position: absolute;
}

.ratings > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.ratings > input:checked ~ label{ color: darkgrey;  } /* hover previous stars in list */


.ratings > input:checked ~ label{ color: black;  } 


.address-class
{
  color:#444444;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;
  line-height: 31px;;
}

  .address-block {
    margin-bottom: -0.1em;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.match-block
{
  margin-bottom: 0.7em;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;

}

.distance-class
{
  color: #adadad;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;
}

.fees-paid
{
  
  font-size: 30.5px;
  color: #dd1c26;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-left: -0.9em;

}
.match-class{
  font-size:13.5px;
  color:#37b396;
  font-family: 'Roboto', sans-serif;
}
.match-class1
{
  color: #adadad;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;
}
.match-class2
{
  color: #adadad;
  font-size: 13.5px;
  font-family: 'Roboto', sans-serif;
}
.final-portion
{
  display: grid;
  grid-template-columns: auto auto;
}

.green-portion-class
{
  width: 95%;
  height: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  /* margin: 1px; */
  margin-left: -1em;
  background-color: #ccf5e7;
  /* line-height: 17px; */
  font-size: 13.5px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-family: 'Roboto', sans-serif;

}

.money-class
{
  color:#37b396;
  

}

.login
{
  color: lightskyblue;
  font-weight: 700;
}

.final-portion-class2
{
  font-size: 13.5px;
  text-align: right;
  line-height: 25px;
  color: #37b396;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-right: 0.6em;

}


.shape
{
  background-color: #dd1c26;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    margin-left: 11.6em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    padding: 3px;
    width: 2em;
}




.shape:before {
  right: 9.2%;
    top: 62%;
    border-style: solid;
    border-image: initial;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 128, 0, 0) rgb(221, 28, 38) rgba(0, 128, 0, 0) rgba(0, 128, 0, 0);
    border-width: 10px;
    
}

.shape1
{
  background-color: #dd1c26;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  margin-left: 11.1em;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  padding: 3px;
  width: 2em;
}




.shape1:before {
  right: 9.2%;
  top: 69.5%;
  border: solid transparent;
  content: " ";
  height: 0px;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 128, 0, 0);
  border-right-color: #dd1c26;
  border-width: 10px;
  margin-top: -25px;
}


.jq-ry-container
{
  padding: 0px !important;
}

.per-sem
{
  margin-left: 38em;
    margin-right: -4em;
    color: #444444;
    font-size: 11.5px;
    
}


@media screen and (min-width: 1300px) {
  .grid-container {
    display: grid;
    height: 400px;
    grid-template-columns: auto auto;
    gap: 3em;
    padding: 4em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 610.3px;
  position: relative;
  margin-bottom: 2em;
}

.shape:before {
  right: 12.2%;
  top: 62.8%;
  border-style: solid;
  border-image: initial;
  content: " ";
  height: 0px;
  width: 0px;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 128, 0, 0) rgb(221, 28, 38) rgba(0, 128, 0, 0) rgba(0, 128, 0, 0);
  border-width: 10px;
}
.text-upper {
  margin-left: 1.7em;
  font-size: 18.5px;
  color: #444444;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
}
}